{% extends 'base.html' %}

{% block title %}Lecturer View{% endblock %}

{% block content %}
<h2>Your Courses</h2>
<ul>
    {% for course in courses %}
        <li><b>{{ course.name }}</b></li>
        <ul>
            <li><a href="{% url 'create_assignment' course.id %}">Create Assignment</a></li>
            {% for assignment in assignments.filter(course=course) %}
                <li>
                    <a href="{% url 'view_submissions' assignment.id %}">{{ assignment.title }}</a> (Due: {{ assignment.due_date }})
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
{% endblock %}

